@font-face {
	font-family: 'ProximaNova';
	src: url('fonts/12093.eot');
	src: local('☺'), url('fonts/12093.woff') format('woff'), url('fonts/12093.ttf') format('truetype'), url('fonts/12093.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('fonts/11096.eot');
	src: local('☺'), url('fonts/11096.woff') format('woff'), url('fonts/11096.ttf') format('truetype'), url('fonts/11096.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_ofont.ru_Proxima Nova';
	src: url('fonts/ofont.ru_Proxima Nova.eot');
	src: local('☺'), url('fonts/ofont.ru_Proxima Nova.woff') format('woff'), url('fonts/ofont.ru_Proxima Nova.ttf') format('truetype'), url('fonts/ofont.ru_Proxima Nova.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}